# Archivo .env
# Si pruebas en web, puedes usar localhost
API_BASE_URL=http://localhost:1234/

# Si pruebas en emulador Android, comenta la de arriba y usa esta:
# API_BASE_URL=http://++++++++++

# Si pruebas en un dispositivo físico, usa la IP de tu PC:
# API_BASE_URL=http:+++++++++++++++